.vscode/
internal_dev/
notebook/credential.cfg
notebook/.ipynb_checkpoints/
notebook/internal_dev/
notebook/plotly_dapi_medium.ipynb
video/
notebook/plotly_video_demo.ipynb
plotly_venv/
eikon_venv/